<!-- <ion-header>
  <ion-toolbar>
    <ion-title>closeby</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="form">
    <ion-row>
      <ion-col size="12">
        <input id="autocomplete" [(ngModel)]="address" type="text" placeholder="Enter your address">
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col>
      <select [(ngModel)]="type">
        <option value="restaurant">Restaurant</option>
        <option value="school">School</option>
        <option value="school">Church</option>
      </select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <select [(ngModel)]="radius">
        <option value="5">5KM</option>
        <option value="10">10KM</option>
        <option value="15">15KM</option>
        <option value="20">20KM</option>
      </select>
    </ion-col>
  </ion-row>

  <ion-button size="small" (click)="findCloseByPlace()" class="button" color="primary" style="text-transform: capitalize;">
    Find CloseBy Place
  </ion-button>

  <ion-row>
    <ion-col>
      <div id="map"></div>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col style="margin-top: 120%;">
      <ion-grid>
        <ion-list *ngFor="let place of places" :key="place.id">
          <ion-item>
            {{ place.name }}
            {{ place.vicinity }}
          </ion-item>
        </ion-list>
      </ion-grid>
    </ion-col>
  </ion-row> -->

</ion-content>